.vscode/**
.vscode-test/**
src/**
test/**
test/fixtures/**
docs/**
out-test/**
out/**
node_modules/**
dist/**/*.map
**/*.ts
**/*.map
.eslintcache
.gitignore
.gitattributes
eslint.config.mjs
tsconfig.json
tsconfig.test.json
.mocharc.json
*.log
